<%= setup_context(:title => I18n.t("top_container._frontend.bulk_operations.title"), :trail => [[I18n.t("top_container._plural"), url_for(:controller => :top_containers, :action => :index)]]) %>

<%
   @show_multiselect_column = true
%>

<div class="row-fluid">
  <div class="span12">
    <h1><%= I18n.t("top_container._frontend.bulk_operations.title") %></h1>
    <%= form_tag({:controller => :top_containers, :action => :bulk_operations}, {:class => "form-horizontal"}) do |f| %>
      <div class="span8">
        <div class="control-group">
          <label class="control-label" for="q">Keyword</label>
          <div class="controls">
            <%= text_field_tag "q", params["q"], :style => "width: 100%;" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="series">Series</label>
          <div class="controls">
            <%= render_aspace_partial :partial => "top_containers/bulk_operations/series_linker" %>
          </div>
        </div>
        <!--
        <div class="control-group">
          <label class="control-label" for="container_profile"><%= I18n.t("container_profile._singular") %></label>
          <div class="controls">
            <%= render_aspace_partial :partial => "top_containers/bulk_operations/container_profile_linker" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="location"><%= I18n.t("location._singular") %></label>
          <div class="controls">
            <%= render_aspace_partial :partial => "top_containers/bulk_operations/location_linker" %>
          </div>
        </div>
        -->
        <div class="control-group">
          <div class="controls">
            <%= submit_tag "Search", :class => "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if @search_data %>
<div class="row-fluid">
  <div class="span12">
    <div class="record-toolbar">
      <div class="pull-right">
        <div class="btn-group">
          <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
            Bulk Operations
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>TODO</li>
          </ul>
        </div>
        <%= button_delete_action(url_for(:controller => :top_containers, :action => :batch_delete), {
          :class => "btn btn-small btn-danger multiselect-enabled",
          :"data-multiselect" => "#tabledSearchResults",
          :"data-title" => I18n.t("actions.delete_multiple_confirm_title"),
          :"data-message" => I18n.t("actions.delete_multiple_confirm_message"),
          :"data-confirm-btn-label" => "#{I18n.t("actions.delete_multiple")}",
          :disabled => "disabled"
        }) %>
      </div>
    </div>

    <div class="record-pane">
      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
<% end %>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/top_containers.bulk.js" %>"></script>