<%= setup_context(:title => I18n.t("top_container._frontend.bulk_operations.title"), :trail => [[I18n.t("top_container._plural"), url_for(:controller => :top_containers, :action => :index)]]) %>

<%
   @show_multiselect_column = true
%>

<div class="row-fluid">
  <div class="span12">
    <h1><%= I18n.t("top_container._frontend.bulk_operations.title") %></h1>
    <%= form_tag({:controller => :top_containers, :action => :bulk_operations}, {:class => "form-horizontal", :id => "bulk_operation_form"}) do |f| %>
      <div class="span8">
        <div class="control-group">
          <label class="control-label" for="q">Keyword</label>
          <div class="controls">
            <%= text_field_tag "q", params["q"], :style => "width: 100%;" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="series">Series</label>
          <div class="controls">
            <%= render_aspace_partial :partial => "top_containers/bulk_operations/series_linker" %>
          </div>
        </div>
        <!--
        <div class="control-group">
          <label class="control-label" for="container_profile"><%= I18n.t("container_profile._singular") %></label>
          <div class="controls">
            <%= render_aspace_partial :partial => "top_containers/bulk_operations/container_profile_linker" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="location"><%= I18n.t("location._singular") %></label>
          <div class="controls">
            <%= render_aspace_partial :partial => "top_containers/bulk_operations/location_linker" %>
          </div>
        </div>
        -->
        <div class="control-group">
          <div class="controls">
            <%= submit_tag "Search", :class => "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br/>
<div class="row-fluid" style="display: none">
  <div class="span12">
    <%= render_aspace_partial :partial => "top_containers/bulk_operations/toolbar" %>
    <div id="bulk_operation_results" class="record-pane"></div>
    <%= render_aspace_partial :partial => "top_containers/bulk_operations/toolbar" %>
  </div>
</div>

<div id="template_bulk_operation_result"><!--
  <div>
    ${uri} - ${display_string}
  </div>
--></div>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/top_containers.bulk.js" %>"></script>