<%= setup_context(:title => I18n.t("top_container._plural")) %>

<link href="<%= "#{AppConfig[:frontend_prefix]}assets/top_containers.bulk.css" %>" media="all" rel="stylesheet" type="text/css"/>

<%= render_aspace_partial :partial => "search_criteria" %>
<br/>
<div class="row-fluid" style="display: none">
  <div class="span12">
    <%= render_aspace_partial :partial => "top_containers/bulk_operations/toolbar" %>
    <div id="bulk_operation_results" class="record-pane"></div>
    <%= render_aspace_partial :partial => "top_containers/bulk_operations/toolbar" %>
  </div>
</div>

<div id="template_bulk_operation_loading"><!--
  <center>
    <%= image_tag "#{AppConfig[:frontend_prefix]}assets/yale_container_loading.gif" %>
  </center>
--></div>
<div id="template_bulk_operation_error_message"><!--
  <div class="alert alert-error">
    ${message}
  </div>
--></div>

<%= render_aspace_partial :partial => "top_containers/bulk_operations/bulk_action_templates" %>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/jquery.tablesorter.min.js" %>"></script>
<script src="<%= "#{AppConfig[:frontend_prefix]}assets/top_containers.bulk.js" %>"></script>