<%= setup_context(:title => I18n.t("top_container._plural")) %>

<%
   @show_multiselect_column = user_can?("manage_container")
%>

<div class="row-fluid">
  <div class="span3">
    <%= render_aspace_partial :partial => "search/filter" %>
  </div>
  <div class="span9">
    <% if user_can?("manage_container") %>
      <div class="row-fluid">
        <div class="span12">
          <div class="record-toolbar">
            <%= link_to I18n.t("top_container._frontend.bulk_operations.title"), url_for(:controller => :top_containers, :action => :bulk_operations), :class => "btn" %>
            <div class="pull-right">
              <%= button_delete_action(url_for(:controller => :top_containers, :action => :batch_delete), {
                :class => "btn btn-small btn-danger multiselect-enabled",
                :"data-multiselect" => "#tabledSearchResults",
                :"data-title" => I18n.t("actions.delete_multiple_confirm_title"),
                :"data-message" => I18n.t("actions.delete_multiple_confirm_message"),
                :"data-confirm-btn-label" => "#{I18n.t("actions.delete_multiple")}",
                :disabled => "disabled"
              }) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("top_container._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/top_containers.index.js" %>"></script>