<%= setup_context(:object => @top_container, :title => @top_container.display_string) %>

<div class="row-fluid">
  <div class="span3"></div>
  <div class="span9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= readonly_context :top_container, @top_container do |readonly| %>
        <h2><%= @top_container.display_string %> <span class="label label-info"><%= I18n.t("top_container._singular") %></span></h2>

        <%= render_aspace_partial :partial => "shared/flash_messages" %>

        <% define_template "top_container", jsonmodel_definition(:top_container) do |form| %>

          <% if @top_container.container_profile %>
            <div class="control-group token-list">
                <label class="control-label"><%= I18n.t("container_profile._singular") %></label>
                <div class="controls">
                    <%= render_token :object => @top_container["container_profile"]["_resolved"],
                    :label => @top_container["container_profile"]["_resolved"]["name"],
                    :type => "container_profile",
                    :uri => @top_container["container_profile"]["ref"] %>
                </div>
            </div>
          <% end %>

          <%= readonly.label_and_textarea "indicator" %>

          <%= readonly.label_and_textarea "barcode" %>

          <%= readonly.label_and_textarea "ils_holding_id" %>
          <%= readonly.label_and_textarea "ils_item_id" %>
          <%= readonly.label_and_textarea "exported_to_ils", :default => I18n.t("top_container.not_exported") %>

          <%= readonly.label_and_boolean "restricted" %>
          <%= readonly.label_and_boolean "override_restricted" %>

          <% if !@top_container["rights_restricted_contents"].empty? %>
            <div class="control-group token-list">
                <label class="control-label"><%= I18n.t("top_container.rights_restricted_contents") %></label>
                <div class="controls">
                    <% @top_container["rights_restricted_contents"].each do |ref| %>
                    <%= render_token :object => ref,
                                      :label => ref["display_string"],
                                       :type => ref['type'],
                                        :uri => ref["ref"] %>
                    <% end %>
                </div>
            </div>
          <% end %>

          <% if @top_container["container_locations"].length > 0 %>
            <hr>
            <section>
              <%= render_aspace_partial :partial => "container_locations/show", :locals => { :container_locations => @top_container["container_locations"] } %>
            </section>
          <% end %>

          <hr>
          <%= display_audit_info(@top_container) %>
        <% end %>

        <% readonly.emit_template("top_container") %>
      <% end %>
    </div>
  </div>
</div>
