<%
  form_target = {:controller => :top_containers, :action => :bulk_operations} if form_target.nil?
%>
<div class="row-fluid">
  <div class="span12">
    <h1><%= I18n.t("top_container._plural") %></h1>
    <%= form_tag(form_target, {:class => "form-horizontal", :id => "bulk_operation_form"}) do |f| %>
      <div class="span8">
        <div class="control-group">
          <label class="control-label" for="q">Keyword</label>
          <div class="controls">
            <%= text_field_tag "q", params["q"], :style => "width: 100%;" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="collection">Resource/Accession</label>
          <div class="controls">
            <%= render_aspace_partial :partial => "top_containers/bulk_operations/collection_linker" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="container_profile"><%= I18n.t("container_profile._singular") %></label>
          <div class="controls">
            <%= render_aspace_partial :partial => "top_containers/bulk_operations/container_profile_linker" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="location"><%= I18n.t("location._singular") %></label>
          <div class="controls">
            <%= render_aspace_partial :partial => "top_containers/bulk_operations/location_linker" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="location"><%= I18n.t("top_container.exported_to_ils") %></label>
          <div class="controls">
            <select name="exported"><option></option><option value="yes">Yes</option><option value="no">No</option></select>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= submit_tag "Search", :class => "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>