<%
   if params['series'].blank?
     selected_json = "{}"
   else
     selected_json = params['series']['_resolved']
   end

   linkable_types = ["resource", "archival_object", "accession"]

%>

<div class="input-append linker-wrapper">
  <input type="text" class="linker"
         id="series"
         data-label="Series"
         data-label_plural="Series"
         data-name="ref"
         data-path="series"
         data-url="<%= url_for  :controller => :search, :action => :do_search, :format => :json %>"
         data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => [], :sort => "title_sort asc" %>"
         data-selected="<%= selected_json %>"
         data-multiplicity="one"
         data-types='<%= linkable_types.to_json %>'
  />
  <div class="btn-group pull-right">
    <a class="btn dropdown-toggle last" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="javascript:void(0);" class="linker-browse-btn"><%= I18n.t("actions.browse") %></a></li>
    </ul>
  </div>
</div>
