<% define_template "yale_container", jsonmodel_definition(:yale_container) do |form| %>
  <div>
    <% form.push("yale_container_hierarchy", form.obj["yale_container_hierarchy"] || {}) do %>

      <hr/>

      <% form.push("yale_container_1", form.obj["yale_container_1"] || {}) do %>
        <%= render_aspace_partial :partial => "yale_containers/linker", :locals => {:form => form, :label => "Parent Container"} %>
      <% end %>

      <hr/>

      <% form.push("yale_container_2", form.obj["yale_container_2"] || {}) do %>
        <h4 class="offset1">Child Container</h4>
        <%= form.label_and_select "type", form.possible_options_for('type', true) %>
        <%= form.label_and_textfield  "indicator" %>
      <% end %>

      <hr/>

      <% form.push("yale_container_3", form.obj["yale_container_3"] || {}) do %>
        <h4 class="offset1">Grandchild Container</h4>
        <%= form.label_and_select "type", form.possible_options_for('type', true) %>
        <%= form.label_and_textfield  "indicator" %>
      <% end %>

    <% end %>
  </div>
<% end %>

