<%= setup_context(:object => @yale_container_hierarchy, :controller => :yale_containers, :type => :yale_container) %>

<%= form_for @yale_container_hierarchy, :as => "yale_container_hierarchy", :url => {:controller => :yale_containers, :action => :create}, :html => {:class => 'form-horizontal aspace-record-form', :id => "yale_container_form"} do |f| %>
  <%= form_context :yale_container_hierarchy, @yale_container_hierarchy do |form| %>
    <div class="row-fluid">
      <div class="span3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="span9">
        <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <div class="record-pane">
          <%= link_to_help :topic => "yale_container" %>
          <h2><%= I18n.t("actions.new_prefix") %> <%= I18n.t("yale_container._singular") %> <span class="label label-info"><%= I18n.t("yale_container._singular") %></span></h2>

          <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @yale_container_hierarchy, :form => form} %>

          <section id="existing_container">
            <h3><%= I18n.t "yale_container._frontend.section.existing_container" %></h3>
            <div class="subrecord-form-container">
              <%= render_aspace_partial :partial => "linker", :locals => {:form => form, :required => false} %>
            </div>
          </section>

          <% define_template("yale_container_top_level", jsonmodel_definition(:yale_container)) do |form| %>
            <section id="container_top_level" class="subrecord-form-dummy">
              <h3><%= I18n.t "yale_container._frontend.section.yale_container_1" %></h3>
              <div class="subrecord-form-container">
                <div class="subrecord-form-fields">
                  <%= form.label_and_select "type", form.possible_options_for('type', true), :required => false %>
                  <%= form.label_and_textfield("indicator", :required => false) %>
                  <% form.push("metadata", form.obj["metadata"] || {}) do %>
                    <%= form.label_and_textfield("barcode") %>
                    <%= form.label_and_textfield("voyager_id") %>
                    <%= form.label_and_boolean("exported_to_voyager") %>
                    <%= form.label_and_boolean("restricted") %>
                    <div class="subrecord-form-container">
                      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "container_locations", :heading_size => "h5"} %>
                    </div>
                  <% end %>
                </div>
              </div>
            </section>
          <% end %>

          <% define_template("yale_container_child", jsonmodel_definition(:yale_container)) do |form, opts = {}| %>
            <section id="container_child_<%= opts[:index] %>" class="subrecord-form-dummy">
              <h3><%= I18n.t "yale_container._frontend.section.yale_container_#{opts[:index]}" %></h3>
              <div class="subrecord-form-container">
                <div class="subrecord-form-fields">
                  <%= form.label_and_select "type", form.possible_options_for('type', true), :required => false %>
                  <%= form.label_and_textfield("indicator", :required => false) %>
                </div>
              </div>
            </section>
          <% end %>

          <% form.push("yale_container_1", form.obj["yale_container_1"] || {}) do %>
            <% form.emit_template("yale_container_top_level") %>
          <% end %>

          <% form.push("yale_container_2", form.obj["yale_container_2"] || {}) do %>
            <% form.emit_template("yale_container_child", :index => 1) %>
          <% end %>

          <% form.push("yale_container_3", form.obj["yale_container_3"] || {}) do %>
            <% form.emit_template("yale_container_child", :index => 2) %>
          <% end %>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><%= I18n.t("yale_container._frontend.action.save") %></button>
            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel" %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/linker.js" %>"></script>
<script src="<%= "#{AppConfig[:frontend_prefix]}assets/subrecord.crud.js" %>"></script>
<script src="<%= "#{AppConfig[:frontend_prefix]}assets/yale_containers.new.js" %>"></script>